* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
@font-face {
	font-family: аниме;
	src: url(../fonts/20791.otf);
}
main {
	width: 70%;
	padding: 50px;
	margin: auto;
	background-color: #B0C4DE;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.2);
	font-family: аниме;
}
body {
	background-color: #B5B8B1;
}
.photo {
	width: calc(50% - 40px);
	height: calc((35vw - 40px) / 16 * 9);
	margin: 10px;
	background-color: whitesmoke;
	background-position: center;
	background-size: cover;
	transition: all 3s ease;
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.2);
}
.photo:hover {
	transform: rotate(10deg) scale(1.05);
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.4);
}
h1 {
	width: 100%;
	text-align: center;
	font-size: 48px;
}
.photo1 {
	background-image: url(../img/1.jpg);
}
.photo2 {
	background-image: url(../img/2.png);
}
.photo3 {
	background-image: url(../img/3.jpg);
}
.photo4 {
	background-image: url(../img/4.jpg);
}
.photo5 {
	background-image: url(../img/5.jpg);
}
.photo6 {
	background-image: url(../img/6.jpg);
}
.photo7 {
	background-image: url(../img/7.jpg);
}
.photo8 {
	background-image: url(../img/8.jpg);
}